.Memolist-entry {
    display: flex;
    flex-direction: row;
  }
  
  .Memo-inputbox {
    flex: 5;
    border-bottom: 2px solid rgb(135, 135, 135);
  }
  
  .update-button {
    flex: 1;
    width: 1vh;
  }
  
  .delete-button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width:1vh;
  }
  
  .delete-button :hover {
    opacity: 0.4;
    padding: 6px 8px;
  }
  